{% extends "pages/patchouli/page.html.jinja" %}
{% import "macros/hex_recipes.html.jinja" as hex_recipes with context %}
{% import "macros/formatting.html.jinja" as fmt with context %}

{% block body %}
  {{ hex_recipes.render_mind_flay_recipe(page.recipe) }}
  {{ fmt.styled(page.text) }}
{% endblock body %}
