{% extends "pages/patchouli/text.html.jinja" %}

{% block inner_body %}
  <details class="details-collapsible">
    <summary class="collapse-details collapse-spell"></summary>

    <div class="dropdown spell-settings-dropdown">
      <span
        href=""
        class="dropdown-toggle spell-settings-toggle"
        data-toggle="dropdown"
        role="button"
        aria-haspopup="true"
        aria-expanded="false"
      >
        <i class="bi bi-gear-fill"></i>
      </span>

      <ul class="dropdown-menu">
        <li class="dropdown-submenu">
          <a
            href=""
            class="dropdown-toggle"
            data-toggle="dropdown"
            role="button"
            aria-haspopup="true"
            aria-expanded="false"
          >{{ _("hexdoc.renderer.renders")}}</a>
          <ul class="dropdown-menu dropdown-menu-left render-dropdowns"></ul>
        </li>

        <li class="dropdown-submenu">
          <a
            href=""
            class="dropdown-toggle"
            data-toggle="dropdown"
            role="button"
            aria-haspopup="true"
            aria-expanded="false"
          >{{ _("hexdoc.renderer.palettes")}}</a>
          <ul class="dropdown-menu dropdown-menu-left palette-dropdowns"></ul>
        </li>
      </ul>
    </div>

    {% for pattern in page.patterns %}
      <canvas
        class="spell-viz"
        width="216"
        height="216"
        data-string="{{ pattern.signature }}"
        data-start="{{ pattern.startdir.name.lower() }}"
        data-per-world="{{ pattern.is_per_world }}"
      >{{ _("hexdoc.pattern.not_supported").format(pattern.signature) }}</canvas>
    {% endfor %}
  </details>
  {{ super() }}
{% endblock inner_body %}
