{% import "macros/formatting.html.jinja" as formatting %}

<section id="{{ category.id.path }}">
  {% call formatting.maybe_spoilered(category) %}
    {{- formatting.section_header(category, "h2", "category-title") }}
    {{ category.description|hexdoc_block }}
  {% endcall %}

  {% for entry in category.entries.values() if entry.id not in props.entry_id_blacklist +%}
    {% include "entry.html.jinja" %}
  {% endfor +%}
</section>
