{% import "macros/formatting.html.jinja" as formatting -%}

<div id="{{ entry.id.path }}">
  {% call formatting.maybe_spoilered(entry) %}
    {{- formatting.section_header(entry, "h3", "entry-title") }}

    {% for page in entry.preprocess_pages() +%}
      {% include page.template %}
    {% endfor %}
  {% endcall %}
</div>
