summary {
  display: list-item;
}

details.spell-collapsible {
  display: inline-block;
  border: 1px solid #aaa;
  border-radius: 4px;
  padding: 0.5em 0.5em 0;
  margin-bottom: 0.5em;
}

summary.collapse-spell {
  font-weight: bold;
  margin: -0.5em -0.5em 0;
  padding: 0.5em;
}

details.spell-collapsible[open] {
  padding: 0.5em;
}

details[open] summary.collapse-spell {
  border-bottom: 1px solid #aaa;
  margin-bottom: 0.5em;
}

details .collapse-spell::before {
  content: "Click to show spell";
}

details[open] .collapse-spell::before {
  content: "Click to hide spell";
}

blockquote.crafting-info {
  font-size: inherit;
}

a.permalink {
  margin-left: 0.5em;
}

a.permalink:hover {
  color: lightgray;
}

p {
  margin: 0.5ex 0;
}

p.fake-li {
  margin: 0;
}

p.fake-li::before {
  content: "\2022";
  margin: 1ex;
}

.linkout::before {
  content: "Link: ";
}

p.todo-note {
  font-style: italic;
  color: lightgray;
}

.obfuscated {
  filter: blur(1em);
}

.spoilered {
  filter: blur(1ex);
  transition: filter 0.04s linear;
  -moz-transition: filter 0.04s linear;
}

.spoilered:hover {
  filter: blur(0.5ex);
}

.spoilered.unspoilered {
  filter: blur(0);
}

canvas.spell-viz {
  --dot-color: #777f;
  --dot-color: #777f;
  --start-dot-color: #f009;
  --moving-dot-color: #0fa9;

  --path-color: darkgray;
  --visited-path-color: #0c8;

  --dot-scale: 0.0625;
  --moving-dot-scale: 0.125;
  --line-scale: 0.08333;
  --pausetext-scale: 0.5;
  --dark-mode: 0;
}

.dropdown-menu .divider {
  margin: 4px 0;
}

.nobr {
  white-space: nowrap;
}

.hidden {
  display: none;
  visibility: hidden;
}

@media (min-width: 40rem) {
  .book-body {
    width: 70%;
    left: 5%;
    position: relative;
    float: left;
  }

  .toc-container {
    position: sticky;
    top: 0;
    width: 25%;
    float: left;
    max-height: 80vh;
    overflow-y: scroll;
  }

  .toc-permalink {
    display: none;
    visibility: hidden;
  }
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: #201a20;
    color: #ddd;
  }

  .jumbotron {
    background-color: #323;
  }

  .navbar-default {
    background-color: #2b1f2b;
    border-color: #080808;
  }

  /* please help, i'm not a frontend dev, i'm shocked this works at all */

  .navbar-default .navbar-brand,
  .navbar-default .navbar-nav > li > a,
  .navbar-default .navbar-nav > li > a:focus {
    color: #aaa;
  }

  .navbar-default .navbar-brand:focus,
  .navbar-default .navbar-brand:hover,
  .navbar-default .navbar-nav > li > a:hover {
    color: #ccc;
  }

  .navbar-default .navbar-nav > .open > a,
  .navbar-default .navbar-nav > .open > a:focus,
  .navbar-default .navbar-nav > .open > a:hover {
    color: #bbb;
    background-color: #1e131e;
  }

  .dropdown-menu {
    background-color: #402a40;
    min-width: 120px;
  }

  .dropdown-menu .divider {
    background-color: #080808;
  }

  .dropdown-menu > li > a {
    color: #bbb;
  }

  .dropdown-menu > li > a:focus,
  .dropdown-menu > li > a:hover {
    color: #ccc;
    background-color: #553455;
  }

  canvas.spell-viz {
    /* hack */
    --dark-mode: 1;
  }
}
