{% import "macros/images.html.jinja" as Images with context -%}

<details class="details-collapsible flay-recipe-details">
  {% block collapse %}
    <summary class="collapse-details">
      <span class="collapse-recipe-show">{{ _('hexdoc.recipe.show') }}</span>
      <span class="collapse-recipe-hide">{{ _('hexdoc.recipe.hide') }}</span>
    </summary>
  {% endblock collapse %}

  <div>
    {% block title %}<h5>{{ recipe.result.Name.name }}</h5>{% endblock %}

    <div class="flay-recipe">
      {% block background %}
        <img
          class="flay-recipe-background"
          alt="Flay Mind Recipe GUI"
          src="{% block background_image %}{{
            'hexcasting:textures/gui/hexdoc/brainsweep.png'|hexdoc_texture_image
          }}{% endblock %}"
        >
      {% endblock background %}

      {% block brainsweepee %}
        {% with brainsweepee=recipe.entity_in %}
          {% include recipe.entity_in.template~".html.jinja" %}
        {% endwith %}
      {% endblock brainsweepee %}

      {% block ingredient %}
        <div class="flay-recipe-block-ingredient">
          {{ Images.item(recipe.block_in.block) }}
        </div>
      {% endblock ingredient %}

      {% block cost %}
        <div class="flay-recipe-cost texture item-texture multi-textures cycle-textures">
          {% for item in recipe.cost_items %}
            <div class="texture item-texture {{ 'multi-texture-active' if loop.first }}">
              {{ Images.item(item|hexdoc_item_image, count=item.count, is_first=true) }}
            </div>
          {% endfor %}
        </div>
      {% endblock cost %}

      {% block result %}
        <div class="flay-recipe-result">
          {{ Images.item(recipe.result.Name) }}
        </div>
      {% endblock result %}
    </div>
  </div>
</details>
