{% extends "pages/Page.html.jinja" %}
{% include "macros.html.jinja" %}

{% block body %}
  {{ macros.recipe_block([page.recipe], "name", "A mind-flaying recipe producing the", "") }}
  {{ page.text|hexdoc_block }}
{% endblock body %}
