{% extends "pages/PageWithTitle.html.jinja" %}

{% block inner_body %}
  {{ super() }}
  <h4 class='linkout'>
    <a href='{{ page.url|hexdoc_block }}'>{{ page.link_text }}</a>
  </h4>
{% endblock inner_body %}
