{%- if page.anchor -%}
  {%- set page_anchor_id = entry.id.path ~ "@" ~ page.anchor -%}{# set a variable so children can use this value -#}
  <div id='{{ page_anchor_id }}'>
    {% block body scoped %}{% endblock %}{# not required because EmptyPage uses this template directly -#}
  </div>
{%- else -%}
  {{ self.body() }}{# can't define a block twice in the same template, so just reference it #}
{%- endif -%}
<br />
