-r requirements.txt
black==22.10.0         # formatting
pytest==7.3.1          # testing framework
syrupy==4.0.2          # snapshot tests
beautifulsoup4==4.12.2 # html pretty print so the snapshot diffs are actually usable
