{% extends "hexdoc:index.html.jinja" %}

{% block scripts %}
  {{ super() }}
  <script type="module" src="hexcasting.js"></script>
  <script type="module" src="render.js"></script>
{% endblock scripts %}
