{% include "hexdoc:index.css.jinja" %}

canvas.spell-viz {
  --dot-color: #777f;
  --dot-color: #777f;
  --start-dot-color: #f009;
  --moving-dot-color: #0fa9;

  --path-color: darkgray;
  --visited-path-color: #0c8;

  --dot-scale: 0.0625;
  --moving-dot-scale: 0.125;
  --line-scale: 0.08333;
  --pausetext-scale: 0.5;
  --dark-mode: 0;
}

@media (prefers-color-scheme: dark) {
  canvas.spell-viz {
    /* hack */
    --dark-mode: 1;
  }
}
