{% extends "pages/patchouli/text.html.jinja" %}
{% import "macros/recipes.html.jinja" as recipe_macros with context %}

{% block inner_body %}
  <h4 class="spotlight-title page-header">{{ page.item.name }}</h4>
  <div class="spotlight">
    <img
      alt="Spotlight inventory slot"
      src="{{ 'hexcasting:textures/gui/hexdoc/spotlight.png'|hexdoc_texture }}"
    >
    {{ recipe_macros.render_item(page.item) }}
  </div>
  {{ super() }}
{% endblock inner_body %}
