{% extends "pages/patchouli/text.html.jinja" %}
{% include "common/macros.html.jinja" %}

{% block inner_body %}
  {{ macros.recipe_block(page.recipes, "item", "Several crafting recipes, for the", ", ") }}
  {{ super() }}
{% endblock inner_body %}
