{% import "macros.html.jinja" as macros -%}

<section id="{{ category.id.path }}">
  {% call macros.maybe_spoilered(category) %}
    {{ macros.header(category, "category-title") }}
    {{ category.description | hexdoc_block }}
  {% endcall %}
  {% for entry in category.entries %}
    {% if entry.id not in blacklist %}
      {% include "entry.html.jinja" %}
    {% endif %}
  {% endfor %}
</section>