{% macro permalink(href) %}
  <a href="#{{ href }}" class="permalink small" title="Permalink">
    <i class="bi bi-link-45deg"></i>
  </a>
{% endmacro %}

{% macro maybe_spoilered_link(value) %}
  <a href="#{{ value.id.path }}" class="{{ 'spoilered' if value.is_spoiler else '' }}">
    {{- value.name -}}
  </a>
{%- endmacro %}

{% macro maybe_spoilered(value) %}
  {% if value.is_spoiler %}
    <div class="spoilered">
      {{ caller() }}
    </div>
  {% else %}
    {{ caller() }}
  {% endif %}
{%- endmacro %}

{% macro jump_to_top() %}
  <a href="#table-of-contents" class="permalink small" title="Jump to top">
    <i class="bi bi-box-arrow-up"></i>
  </a>
{%- endmacro %}
