name: Build the web book

on:
  push:
    branches:
      - main
      - '1.20'
      - '1.19'
      - '1.18'
  workflow_dispatch:
    inputs:
      release:
        description: Release this version
        type: boolean
        default: false
      publish:
        description: Package index to publish to
        type: choice
        options:
          - none
          - PyPI (release)
      segment:
        description: Version segment to bump with Hatch
        type: string
        required: false

env:
  PYPI_PACKAGE: hexdoc-hexcasting

permissions:
  contents: read

jobs:
  hexdoc:
    uses: hexdoc-dev/hexdoc/.github/workflows/hexdoc.yml@v1!0.dev
    permissions:
      contents: write
      pages: read
    secrets:
      GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    with:
      python-version: "3.11"
      release: |-
        ${{
          github.event_name == 'workflow_dispatch' && inputs.release
          || startsWith(github.event.head_commit.message, '[Release]')
          || startsWith(github.ref, 'refs/tags')
        }}
      bump-version-segment: ${{ inputs.segment }}

  publish-pypi:
    runs-on: ubuntu-latest
    needs: hexdoc
    concurrency:
      group: pypi
      cancel-in-progress: false
    if: |-
      needs.hexdoc.outputs.release == 'true' &&
      (github.event_name != 'workflow_dispatch' || inputs.publish == 'PyPI (release)')

    environment:
      name: pypi
      url: https://pypi.org/p/${{ env.PYPI_PACKAGE }}
    permissions:
      id-token: write
      contents: write

    steps:
      - uses: actions/checkout@v3

      - name: Download package artifact
        uses: actions/download-artifact@v3
        with:
          name: hexdoc-build
          path: dist

      - name: Publish to PyPI
        uses: pypa/gh-action-pypi-publish@release/v1
