{% extends "pages/patchouli/text.html.jinja" %}
{% import "macros/recipes.html.jinja" as recipe_macros with context %}

{% block inner_body %}
  {{ recipe_macros.crafting_table(page.recipes) }}
  {{ super() }}
{% endblock inner_body %}
